html,
body {
	height: 99%;
	margin: 0;
	background: radial-gradient(circle, rgba(240, 250, 200, 1) 60%, rgba(162, 209, 212, 1) 95%);
}

.container {
	width: 90%;
	/* border: 1px red solid; */
	margin: auto;
	text-align: center;
}

h1 {
	margin: .5rem 0;
}

/* #scoreboard {
	display: flex;
	justify-content: space-around;
	width: 60%;
	margin: auto;
} */

#newGameButton {
	margin: 0 2.5rem;
	border-radius: .4rem;
	border: 1px rgb(240, 250, 200) solid;
	box-shadow: 0 0.1rem 0.2rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background: linear-gradient(to top right, rgba(170, 190, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
	padding: .25rem;
}

#newGameButton:hover {
	background: yellow;
}

#gameContainer {
	width: 26.5rem;
	height: 28rem;
	margin: .5rem auto 0 auto;
}

#board {
	height: 85%;
}

#columnNums {
	display: flex;
	justify-content: space-around;
	margin-top: .25rem;
}

#moves {
	text-align: left;
	margin-top: .5rem;
}

.row {
	display: flex;
	height: 14.28%;
}
div {
	flex: auto;
}
.row div {
	/*this is each cell on the board*/
	border: .1rem yellow solid;
	display: flex; /* need this so that circle class works */
	padding: .1rem .1rem 0 .1rem;
}
#topRow div {
	border: none;
}

.redPlayer {
	color: red;
}

.bluePlayer {
	color: blue;
}

.circle {
	height: 100%;
	width: 100%;
	background-color: green;
	border-radius: 50%;
}
.red {
	background-color: red;
}
.blue {
	background-color: blue;
}

.row .winningCell {
	border: .1rem green solid;
}
